.apl{
display: flex;
justify-content: center;
font-size: 1.2em;
font-family: 'Vogue';
color: black;
}
#copy{
font-size: .8em;
}

p{
font-family:'Adventure'; 
color: black;
font-size: 2.4em;

}

ul {
    font-family: 'Octagon';
    font-weight: 1000;
    font-size: 2em;
}

body {
background-image: url("sun.jpg");
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

.navBar {
border:groove;
border-color: black;
justify-content: space-around;
align-content: center;
display: flex;
font-size:1.1em;
text-decoration: none;
color:black;
font-family: 'Garamond';
border-width: .3em;}


@font-face {
    font-family: "Adventure";
src: url('Adventure.otf');
}
@font-face {
    font-family: "Vogue";
    src: url('Vogue.ttf');
}

@font-face {
font-family:  "Garamond";
src: url('garamond.ttf');
}

a:link{
    color: lightslategray;
 }

a:visited{
    color: grey;
 }

a:hover{
    color: lightseagreen;
 }

a:active{
    color: lightslategray;
 }
